* {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-row: 1;
  grid-column: 2;
  grid-template-columns: 25% 75%;
}
aside {
  background-color: #00bdf3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
aside h1 {
  font-size: 210px;
  color: white;
  text-shadow: 3px 3px 5px rgba(128, 0, 0, 1);
}
aside h3 {
  font-size: 130px;
  color: white;
  text-shadow: 3px 3px 5px rgba(128, 0, 0, 1);
}
main {
  background-color: rgba(0, 0, 0, 0.733);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 97%;
  height: 97%;
  /* margin: 20px; */
  border-radius: 30px;
  background-color: #ffffff;
  line-height: 40px;
  box-shadow: 0px 0px 10px 0px #f1f3f3;
}
.main-content h1 {
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.733);
  width: 70%;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  color: white;
  font-size: 45px;
  margin-bottom: 10px;
}
.main-content hr {
  width: 70%;
  margin: 35px 0;
  border: 1px solid rgba(0, 0, 0, 0.733);
}
.question-div {
  width: 70%;
}
.main-content p {
  font-size: 30px;
  color: #56626e;
  /* border: 1px solid red; */
  width: 80%;
  margin-bottom: 15px;
}
.options {
  width: 70%;
  /* display: flex;
  justify-content: space-between; */
  /* flex-direction: column; */
  text-align: center;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 47% 47%;
}
/* .options:hover {
  grid-template-columns: 48% 48%;
} */
.options button {
  padding: 2px;
  height: 55px;
  background-color: rgba(0, 0, 0, 0.733);
  color: white;
  font-size: 20px;
  margin: 10px 0;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
.options button:hover {
  font-size: 22px;
  height: 57px;
  /* width: fit-content; */
}
.counts {
  width: 70%;
  text-align: start !important;
  display: flex !important;
  justify-content: start !important;
  color: #56626e;
  color: black;
}
.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 10px solid white;
  border-top: 10px solid #00bdf3;
  animation: spin 2s linear infinite;
}

.scoreDiv {
  height: 200px;
  width: 200px;
  display: none;
  color: white;
  align-content: center;
  justify-content: center;
  text-align: center;
  line-height: 30px;
  box-shadow: 0px 0px 10px 0px #f3f1f1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1180px) {
  .container {
    grid-template-columns: 30% 70%;
  }
}
@media screen and (max-width: 1015px) {
  .container {
    grid-template-columns: 40% 60%;
  }
  .main-content p {
    font-size: 30px;
    color: #56626e;
    /* border: 1px solid red; */
    width: 100%;
    margin-bottom: 15px;
  }
  .main-content h1 {
    padding: 10px 0;
  }
  .options {
    display: block;
  }
  .options button {
    font-size: 20px;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  body {
    /* background-color: #b6b13f; */
    background-image: url("images/quiz05.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #90cec84b;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 95%; */
    width: 95%;
    border-radius: 30px;
  }

  .aside-content {
    display: none;
  }
  main {
    background-color: transparent;
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    border-top: 10px solid black;
    /* border: 10px solid white; */
  }
  .main-content {
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    height: 95%;
  }
  .main-content p {
    font-size: 24px;
    width: 100%;
    margin-bottom: 15px;
    color: white;
  }

  .main-content h1 {
    width: 90%;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.733);
  }
  .main-content hr {
    width: 90%;
    margin: 35px 0;
    border: 1px solid white;
  }
  .question-div,
  .counts {
    width: 90%;
    color: white;
  }
  .scoreDiv {
    background-color: rgba(0, 0, 0, 0.733);
    box-shadow: 0px 0px 10px 0px #140202;
  }
  .options {
    width: 90%;
    text-align: center;
    display: block;
  }
  .options button {
    background-color: rgba(0, 0, 0, 0.733);
    font-size: 20px;
    width: 100%;
  }
}
